.App {
  text-align: left;
  font-family: Noto Sans KR,Apple SD Gothic Neo,맑은 고딕,Malgun Gothic,sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-page_title {
  color: #212529;
  font-stretch: normal;
  font-weight: 600;
  letter-spacing: -1.5px;
  line-height: 1.32;
  font-size: 40px;
  margin-top: 34px;
}

.main-page_sub-title {
  color: #212529;
  font-size: 20px;
  letter-spacing: -1.5px;
  line-height: 1.6;
  margin-bottom: 60px;
  margin-top: 20px;
  
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 0.5s;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
